/*
Mist API

> Version: **2406.1.14** > > Date: **July 3, 2024**  ---  ### Additional Documentation * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html) * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location_services/topics/concept/mist-how-get-mist-sdk.html) * [Mist Product Updates](https://www.mist.com/documentation/category/product-updates/)  ---  ### Helpful Resources * [API Sandbox and Exercises](https://api-class.mist.com/) * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace) * [API Demo Apps](https://apps.mist-lab.fr/) * [Juniper Blog](https://blogs.juniper.net/)  --- 

API version: 2406.1.14
Contact: tmunzer@juniper.net
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistsdkgo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


type OrgsClientsNACAPI interface {

	/*
	CountOrgNacClientEvents countOrgNacClientEvents

	Count by Distinct Attributes of NAC Client-Events

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param orgId
	@return ApiCountOrgNacClientEventsRequest
	*/
	CountOrgNacClientEvents(ctx context.Context, orgId string) ApiCountOrgNacClientEventsRequest

	// CountOrgNacClientEventsExecute executes the request
	//  @return RepsonseCount
	CountOrgNacClientEventsExecute(r ApiCountOrgNacClientEventsRequest) (*RepsonseCount, *http.Response, error)

	/*
	CountOrgNacClients countOrgNacClients

	Count by Distinct Attributes of NAC Clients

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param orgId
	@return ApiCountOrgNacClientsRequest
	*/
	CountOrgNacClients(ctx context.Context, orgId string) ApiCountOrgNacClientsRequest

	// CountOrgNacClientsExecute executes the request
	//  @return RepsonseCount
	CountOrgNacClientsExecute(r ApiCountOrgNacClientsRequest) (*RepsonseCount, *http.Response, error)

	/*
	SearchOrgNacClientEvents searchOrgNacClientEvents

	Search NAC Client Events

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param orgId
	@return ApiSearchOrgNacClientEventsRequest
	*/
	SearchOrgNacClientEvents(ctx context.Context, orgId string) ApiSearchOrgNacClientEventsRequest

	// SearchOrgNacClientEventsExecute executes the request
	//  @return ResponseEventsNacClientSearch
	SearchOrgNacClientEventsExecute(r ApiSearchOrgNacClientEventsRequest) (*ResponseEventsNacClientSearch, *http.Response, error)

	/*
	SearchOrgNacClients searchOrgNacClients

	Search Org NAC Clients

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param orgId
	@return ApiSearchOrgNacClientsRequest
	*/
	SearchOrgNacClients(ctx context.Context, orgId string) ApiSearchOrgNacClientsRequest

	// SearchOrgNacClientsExecute executes the request
	//  @return ResponseClientNacSearch
	SearchOrgNacClientsExecute(r ApiSearchOrgNacClientsRequest) (*ResponseClientNacSearch, *http.Response, error)
}

// OrgsClientsNACAPIService OrgsClientsNACAPI service
type OrgsClientsNACAPIService service

type ApiCountOrgNacClientEventsRequest struct {
	ctx context.Context
	ApiService OrgsClientsNACAPI
	orgId string
	distinct *OrgNacClientEventsCountDistinct
	type_ *string
	start *int32
	end *int32
	duration *string
	limit *int32
}

func (r ApiCountOrgNacClientEventsRequest) Distinct(distinct OrgNacClientEventsCountDistinct) ApiCountOrgNacClientEventsRequest {
	r.distinct = &distinct
	return r
}

// see [listDeviceEventsDefinitions]($e/Constants%20Events/listNacEventsDefinitions)
func (r ApiCountOrgNacClientEventsRequest) Type_(type_ string) ApiCountOrgNacClientEventsRequest {
	r.type_ = &type_
	return r
}

// start datetime, can be epoch or relative time like -1d, -1w; -1d if not specified
func (r ApiCountOrgNacClientEventsRequest) Start(start int32) ApiCountOrgNacClientEventsRequest {
	r.start = &start
	return r
}

// end datetime, can be epoch or relative time like -1d, -2h; now if not specified
func (r ApiCountOrgNacClientEventsRequest) End(end int32) ApiCountOrgNacClientEventsRequest {
	r.end = &end
	return r
}

// duration like 7d, 2w
func (r ApiCountOrgNacClientEventsRequest) Duration(duration string) ApiCountOrgNacClientEventsRequest {
	r.duration = &duration
	return r
}

func (r ApiCountOrgNacClientEventsRequest) Limit(limit int32) ApiCountOrgNacClientEventsRequest {
	r.limit = &limit
	return r
}

func (r ApiCountOrgNacClientEventsRequest) Execute() (*RepsonseCount, *http.Response, error) {
	return r.ApiService.CountOrgNacClientEventsExecute(r)
}

/*
CountOrgNacClientEvents countOrgNacClientEvents

Count by Distinct Attributes of NAC Client-Events

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @return ApiCountOrgNacClientEventsRequest
*/
func (a *OrgsClientsNACAPIService) CountOrgNacClientEvents(ctx context.Context, orgId string) ApiCountOrgNacClientEventsRequest {
	return ApiCountOrgNacClientEventsRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
//  @return RepsonseCount
func (a *OrgsClientsNACAPIService) CountOrgNacClientEventsExecute(r ApiCountOrgNacClientEventsRequest) (*RepsonseCount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RepsonseCount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrgsClientsNACAPIService.CountOrgNacClientEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/orgs/{org_id}/nac_clients/events/count"
	localVarPath = strings.Replace(localVarPath, "{"+"org_id"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.distinct != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distinct", r.distinct, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "")
	} else {
		var defaultValue string = "1d"
		r.duration = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseHttp400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseHttp401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ResponseHttp403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseHttp404
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ResponseHttp429
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCountOrgNacClientsRequest struct {
	ctx context.Context
	ApiService OrgsClientsNACAPI
	orgId string
	distinct *OrgNacClientsCountDistinct
	lastNacruleId *string
	nacruleMatched *bool
	authType *string
	lastVlanId *string
	lastNasVendor *string
	idpId *string
	lastSsid *string
	lastUsername *string
	timestamp *float32
	siteId *string
	lastAp *string
	mac *string
	lastStatus *string
	type_ *string
	mdmComplianceStatus *string
	mdmProvider *string
	start *int32
	end *int32
	duration *string
	limit *int32
	page *int32
}

// NAC Policy Rule ID, if matched
func (r ApiCountOrgNacClientsRequest) Distinct(distinct OrgNacClientsCountDistinct) ApiCountOrgNacClientsRequest {
	r.distinct = &distinct
	return r
}

// NAC Policy Rule ID, if matched
func (r ApiCountOrgNacClientsRequest) LastNacruleId(lastNacruleId string) ApiCountOrgNacClientsRequest {
	r.lastNacruleId = &lastNacruleId
	return r
}

// NAC Policy Rule Matched
func (r ApiCountOrgNacClientsRequest) NacruleMatched(nacruleMatched bool) ApiCountOrgNacClientsRequest {
	r.nacruleMatched = &nacruleMatched
	return r
}

// authentication type, e.g. “eap-tls”, “eap-ttls”, “eap-teap”, “mab”, “device-auth”
func (r ApiCountOrgNacClientsRequest) AuthType(authType string) ApiCountOrgNacClientsRequest {
	r.authType = &authType
	return r
}

// Vlan ID
func (r ApiCountOrgNacClientsRequest) LastVlanId(lastVlanId string) ApiCountOrgNacClientsRequest {
	r.lastVlanId = &lastVlanId
	return r
}

// vendor of NAS device
func (r ApiCountOrgNacClientsRequest) LastNasVendor(lastNasVendor string) ApiCountOrgNacClientsRequest {
	r.lastNasVendor = &lastNasVendor
	return r
}

// SSO ID, if present and used
func (r ApiCountOrgNacClientsRequest) IdpId(idpId string) ApiCountOrgNacClientsRequest {
	r.idpId = &idpId
	return r
}

// SSID
func (r ApiCountOrgNacClientsRequest) LastSsid(lastSsid string) ApiCountOrgNacClientsRequest {
	r.lastSsid = &lastSsid
	return r
}

// Username presented by the client
func (r ApiCountOrgNacClientsRequest) LastUsername(lastUsername string) ApiCountOrgNacClientsRequest {
	r.lastUsername = &lastUsername
	return r
}

// start time, in epoch
func (r ApiCountOrgNacClientsRequest) Timestamp(timestamp float32) ApiCountOrgNacClientsRequest {
	r.timestamp = &timestamp
	return r
}

// site id if assigned, null if not assigned
func (r ApiCountOrgNacClientsRequest) SiteId(siteId string) ApiCountOrgNacClientsRequest {
	r.siteId = &siteId
	return r
}

// AP MAC connected to by client
func (r ApiCountOrgNacClientsRequest) LastAp(lastAp string) ApiCountOrgNacClientsRequest {
	r.lastAp = &lastAp
	return r
}

// MAC address
func (r ApiCountOrgNacClientsRequest) Mac(mac string) ApiCountOrgNacClientsRequest {
	r.mac = &mac
	return r
}

// Connection status of client i.e “permitted”, “denied, “session_ended”
func (r ApiCountOrgNacClientsRequest) LastStatus(lastStatus string) ApiCountOrgNacClientsRequest {
	r.lastStatus = &lastStatus
	return r
}

// Client type i.e. “wireless”, “wired” etc.
func (r ApiCountOrgNacClientsRequest) Type_(type_ string) ApiCountOrgNacClientsRequest {
	r.type_ = &type_
	return r
}

// MDM compliancy of client i.e “compliant”, “not compliant”
func (r ApiCountOrgNacClientsRequest) MdmComplianceStatus(mdmComplianceStatus string) ApiCountOrgNacClientsRequest {
	r.mdmComplianceStatus = &mdmComplianceStatus
	return r
}

// MDM provider of client’s organisation eg “intune”, “jamf”
func (r ApiCountOrgNacClientsRequest) MdmProvider(mdmProvider string) ApiCountOrgNacClientsRequest {
	r.mdmProvider = &mdmProvider
	return r
}

// start datetime, can be epoch or relative time like -1d, -1w; -1d if not specified
func (r ApiCountOrgNacClientsRequest) Start(start int32) ApiCountOrgNacClientsRequest {
	r.start = &start
	return r
}

// end datetime, can be epoch or relative time like -1d, -2h; now if not specified
func (r ApiCountOrgNacClientsRequest) End(end int32) ApiCountOrgNacClientsRequest {
	r.end = &end
	return r
}

// duration like 7d, 2w
func (r ApiCountOrgNacClientsRequest) Duration(duration string) ApiCountOrgNacClientsRequest {
	r.duration = &duration
	return r
}

func (r ApiCountOrgNacClientsRequest) Limit(limit int32) ApiCountOrgNacClientsRequest {
	r.limit = &limit
	return r
}

func (r ApiCountOrgNacClientsRequest) Page(page int32) ApiCountOrgNacClientsRequest {
	r.page = &page
	return r
}

func (r ApiCountOrgNacClientsRequest) Execute() (*RepsonseCount, *http.Response, error) {
	return r.ApiService.CountOrgNacClientsExecute(r)
}

/*
CountOrgNacClients countOrgNacClients

Count by Distinct Attributes of NAC Clients

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @return ApiCountOrgNacClientsRequest
*/
func (a *OrgsClientsNACAPIService) CountOrgNacClients(ctx context.Context, orgId string) ApiCountOrgNacClientsRequest {
	return ApiCountOrgNacClientsRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
//  @return RepsonseCount
func (a *OrgsClientsNACAPIService) CountOrgNacClientsExecute(r ApiCountOrgNacClientsRequest) (*RepsonseCount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RepsonseCount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrgsClientsNACAPIService.CountOrgNacClients")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/orgs/{org_id}/nac_clients/count"
	localVarPath = strings.Replace(localVarPath, "{"+"org_id"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.distinct != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distinct", r.distinct, "")
	} else {
		var defaultValue OrgNacClientsCountDistinct = "type"
		r.distinct = &defaultValue
	}
	if r.lastNacruleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_nacrule_id", r.lastNacruleId, "")
	}
	if r.nacruleMatched != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nacrule_matched", r.nacruleMatched, "")
	}
	if r.authType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", r.authType, "")
	}
	if r.lastVlanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_vlan_id", r.lastVlanId, "")
	}
	if r.lastNasVendor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_nas_vendor", r.lastNasVendor, "")
	}
	if r.idpId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idp_id", r.idpId, "")
	}
	if r.lastSsid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_ssid", r.lastSsid, "")
	}
	if r.lastUsername != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_username", r.lastUsername, "")
	}
	if r.timestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp", r.timestamp, "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site_id", r.siteId, "")
	}
	if r.lastAp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_ap", r.lastAp, "")
	}
	if r.mac != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mac", r.mac, "")
	}
	if r.lastStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_status", r.lastStatus, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.mdmComplianceStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mdm_compliance_status", r.mdmComplianceStatus, "")
	}
	if r.mdmProvider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mdm_provider", r.mdmProvider, "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "")
	} else {
		var defaultValue string = "1d"
		r.duration = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseHttp400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseHttp401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ResponseHttp403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseHttp404
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ResponseHttp429
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchOrgNacClientEventsRequest struct {
	ctx context.Context
	ApiService OrgsClientsNACAPI
	orgId string
	type_ *string
	nacruleId *string
	nacruleMatched *bool
	dryrunNacruleId *string
	dryrunNacruleMatched *bool
	authType *string
	vlan *int32
	nasVendor *string
	bssid *string
	idpId *string
	idpRole *string
	respAttrs *[]string
	ssid *string
	username *string
	siteId *string
	ap *string
	randomMac *bool
	mac *string
	timestamp *float32
	start *int32
	end *int32
	duration *string
	limit *int32
}

// see [listDeviceEventsDefinitions]($e/Constants%20Events/listNacEventsDefinitions)
func (r ApiSearchOrgNacClientEventsRequest) Type_(type_ string) ApiSearchOrgNacClientEventsRequest {
	r.type_ = &type_
	return r
}

// NAC Policy Rule ID, if matched
func (r ApiSearchOrgNacClientEventsRequest) NacruleId(nacruleId string) ApiSearchOrgNacClientEventsRequest {
	r.nacruleId = &nacruleId
	return r
}

// NAC Policy Rule Matched
func (r ApiSearchOrgNacClientEventsRequest) NacruleMatched(nacruleMatched bool) ApiSearchOrgNacClientEventsRequest {
	r.nacruleMatched = &nacruleMatched
	return r
}

// NAC Policy Dry Run Rule ID, if present and matched
func (r ApiSearchOrgNacClientEventsRequest) DryrunNacruleId(dryrunNacruleId string) ApiSearchOrgNacClientEventsRequest {
	r.dryrunNacruleId = &dryrunNacruleId
	return r
}

// True - if dryrun rule present and matched with priority, False - if not matched or not present
func (r ApiSearchOrgNacClientEventsRequest) DryrunNacruleMatched(dryrunNacruleMatched bool) ApiSearchOrgNacClientEventsRequest {
	r.dryrunNacruleMatched = &dryrunNacruleMatched
	return r
}

// authentication type, e.g. “802.1X”, “MAB”, “DeviceAuth”
func (r ApiSearchOrgNacClientEventsRequest) AuthType(authType string) ApiSearchOrgNacClientEventsRequest {
	r.authType = &authType
	return r
}

// Vlan name or ID assigned to the client
func (r ApiSearchOrgNacClientEventsRequest) Vlan(vlan int32) ApiSearchOrgNacClientEventsRequest {
	r.vlan = &vlan
	return r
}

// vendor of NAS device
func (r ApiSearchOrgNacClientEventsRequest) NasVendor(nasVendor string) ApiSearchOrgNacClientEventsRequest {
	r.nasVendor = &nasVendor
	return r
}

// SSID
func (r ApiSearchOrgNacClientEventsRequest) Bssid(bssid string) ApiSearchOrgNacClientEventsRequest {
	r.bssid = &bssid
	return r
}

// SSO ID, if present and used
func (r ApiSearchOrgNacClientEventsRequest) IdpId(idpId string) ApiSearchOrgNacClientEventsRequest {
	r.idpId = &idpId
	return r
}

// IDP returned roles/groups for the user
func (r ApiSearchOrgNacClientEventsRequest) IdpRole(idpRole string) ApiSearchOrgNacClientEventsRequest {
	r.idpRole = &idpRole
	return r
}

// Radius attributes returned by NAC to NAS Devive
func (r ApiSearchOrgNacClientEventsRequest) RespAttrs(respAttrs []string) ApiSearchOrgNacClientEventsRequest {
	r.respAttrs = &respAttrs
	return r
}

// SSID
func (r ApiSearchOrgNacClientEventsRequest) Ssid(ssid string) ApiSearchOrgNacClientEventsRequest {
	r.ssid = &ssid
	return r
}

// Username presented by the client
func (r ApiSearchOrgNacClientEventsRequest) Username(username string) ApiSearchOrgNacClientEventsRequest {
	r.username = &username
	return r
}

// site id
func (r ApiSearchOrgNacClientEventsRequest) SiteId(siteId string) ApiSearchOrgNacClientEventsRequest {
	r.siteId = &siteId
	return r
}

// AP MAC
func (r ApiSearchOrgNacClientEventsRequest) Ap(ap string) ApiSearchOrgNacClientEventsRequest {
	r.ap = &ap
	return r
}

// AP random macMAC
func (r ApiSearchOrgNacClientEventsRequest) RandomMac(randomMac bool) ApiSearchOrgNacClientEventsRequest {
	r.randomMac = &randomMac
	return r
}

// MAC address
func (r ApiSearchOrgNacClientEventsRequest) Mac(mac string) ApiSearchOrgNacClientEventsRequest {
	r.mac = &mac
	return r
}

// start time, in epoch
func (r ApiSearchOrgNacClientEventsRequest) Timestamp(timestamp float32) ApiSearchOrgNacClientEventsRequest {
	r.timestamp = &timestamp
	return r
}

// start datetime, can be epoch or relative time like -1d, -1w; -1d if not specified
func (r ApiSearchOrgNacClientEventsRequest) Start(start int32) ApiSearchOrgNacClientEventsRequest {
	r.start = &start
	return r
}

// end datetime, can be epoch or relative time like -1d, -2h; now if not specified
func (r ApiSearchOrgNacClientEventsRequest) End(end int32) ApiSearchOrgNacClientEventsRequest {
	r.end = &end
	return r
}

// duration like 7d, 2w
func (r ApiSearchOrgNacClientEventsRequest) Duration(duration string) ApiSearchOrgNacClientEventsRequest {
	r.duration = &duration
	return r
}

func (r ApiSearchOrgNacClientEventsRequest) Limit(limit int32) ApiSearchOrgNacClientEventsRequest {
	r.limit = &limit
	return r
}

func (r ApiSearchOrgNacClientEventsRequest) Execute() (*ResponseEventsNacClientSearch, *http.Response, error) {
	return r.ApiService.SearchOrgNacClientEventsExecute(r)
}

/*
SearchOrgNacClientEvents searchOrgNacClientEvents

Search NAC Client Events

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @return ApiSearchOrgNacClientEventsRequest
*/
func (a *OrgsClientsNACAPIService) SearchOrgNacClientEvents(ctx context.Context, orgId string) ApiSearchOrgNacClientEventsRequest {
	return ApiSearchOrgNacClientEventsRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
//  @return ResponseEventsNacClientSearch
func (a *OrgsClientsNACAPIService) SearchOrgNacClientEventsExecute(r ApiSearchOrgNacClientEventsRequest) (*ResponseEventsNacClientSearch, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseEventsNacClientSearch
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrgsClientsNACAPIService.SearchOrgNacClientEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/orgs/{org_id}/nac_clients/events/search"
	localVarPath = strings.Replace(localVarPath, "{"+"org_id"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.nacruleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nacrule_id", r.nacruleId, "")
	}
	if r.nacruleMatched != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nacrule_matched", r.nacruleMatched, "")
	}
	if r.dryrunNacruleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dryrun_nacrule_id", r.dryrunNacruleId, "")
	}
	if r.dryrunNacruleMatched != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dryrun_nacrule_matched", r.dryrunNacruleMatched, "")
	}
	if r.authType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", r.authType, "")
	}
	if r.vlan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vlan", r.vlan, "")
	}
	if r.nasVendor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nas_vendor", r.nasVendor, "")
	}
	if r.bssid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bssid", r.bssid, "")
	}
	if r.idpId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idp_id", r.idpId, "")
	}
	if r.idpRole != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idp_role", r.idpRole, "")
	}
	if r.respAttrs != nil {
		t := *r.respAttrs
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "resp_attrs", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "resp_attrs", t, "multi")
		}
	}
	if r.ssid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ssid", r.ssid, "")
	}
	if r.username != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "username", r.username, "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site_id", r.siteId, "")
	}
	if r.ap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ap", r.ap, "")
	}
	if r.randomMac != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "random_mac", r.randomMac, "")
	}
	if r.mac != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mac", r.mac, "")
	}
	if r.timestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp", r.timestamp, "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "")
	} else {
		var defaultValue string = "1d"
		r.duration = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseHttp400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseHttp401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ResponseHttp403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseHttp404
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ResponseHttp429
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchOrgNacClientsRequest struct {
	ctx context.Context
	ApiService OrgsClientsNACAPI
	orgId string
	nacruleId *string
	nacruleMatched *bool
	authType *string
	vlan *string
	nasVendor *string
	idpId *string
	ssid *string
	username *string
	timestamp *float32
	siteId *string
	ap *string
	mac *string
	status *string
	type_ *string
	mdmCompliance *string
	mdmProvider *string
	start *int32
	end *int32
	duration *string
	limit *int32
	page *int32
}

// NAC Policy Rule ID, if matched
func (r ApiSearchOrgNacClientsRequest) NacruleId(nacruleId string) ApiSearchOrgNacClientsRequest {
	r.nacruleId = &nacruleId
	return r
}

// NAC Policy Rule Matched
func (r ApiSearchOrgNacClientsRequest) NacruleMatched(nacruleMatched bool) ApiSearchOrgNacClientsRequest {
	r.nacruleMatched = &nacruleMatched
	return r
}

// authentication type, e.g. “eap-tls”, “eap-ttls”, “eap-teap”, “mab”, “device-auth”
func (r ApiSearchOrgNacClientsRequest) AuthType(authType string) ApiSearchOrgNacClientsRequest {
	r.authType = &authType
	return r
}

// Vlan name or ID assigned to the client
func (r ApiSearchOrgNacClientsRequest) Vlan(vlan string) ApiSearchOrgNacClientsRequest {
	r.vlan = &vlan
	return r
}

// vendor of NAS device
func (r ApiSearchOrgNacClientsRequest) NasVendor(nasVendor string) ApiSearchOrgNacClientsRequest {
	r.nasVendor = &nasVendor
	return r
}

// SSO ID, if present and used
func (r ApiSearchOrgNacClientsRequest) IdpId(idpId string) ApiSearchOrgNacClientsRequest {
	r.idpId = &idpId
	return r
}

// SSID
func (r ApiSearchOrgNacClientsRequest) Ssid(ssid string) ApiSearchOrgNacClientsRequest {
	r.ssid = &ssid
	return r
}

// Username presented by the client
func (r ApiSearchOrgNacClientsRequest) Username(username string) ApiSearchOrgNacClientsRequest {
	r.username = &username
	return r
}

// start time, in epoch
func (r ApiSearchOrgNacClientsRequest) Timestamp(timestamp float32) ApiSearchOrgNacClientsRequest {
	r.timestamp = &timestamp
	return r
}

// site id if assigned, null if not assigned
func (r ApiSearchOrgNacClientsRequest) SiteId(siteId string) ApiSearchOrgNacClientsRequest {
	r.siteId = &siteId
	return r
}

// AP MAC connected to by client
func (r ApiSearchOrgNacClientsRequest) Ap(ap string) ApiSearchOrgNacClientsRequest {
	r.ap = &ap
	return r
}

// MAC address
func (r ApiSearchOrgNacClientsRequest) Mac(mac string) ApiSearchOrgNacClientsRequest {
	r.mac = &mac
	return r
}

// Connection status of client i.e “permitted”, “denied, “session_ended”
func (r ApiSearchOrgNacClientsRequest) Status(status string) ApiSearchOrgNacClientsRequest {
	r.status = &status
	return r
}

// Client type i.e. “wireless”, “wired” etc.
func (r ApiSearchOrgNacClientsRequest) Type_(type_ string) ApiSearchOrgNacClientsRequest {
	r.type_ = &type_
	return r
}

// MDM compliancy of client i.e “compliant”, “not compliant”
func (r ApiSearchOrgNacClientsRequest) MdmCompliance(mdmCompliance string) ApiSearchOrgNacClientsRequest {
	r.mdmCompliance = &mdmCompliance
	return r
}

// MDM provider of client’s organisation eg “intune”, “jamf”
func (r ApiSearchOrgNacClientsRequest) MdmProvider(mdmProvider string) ApiSearchOrgNacClientsRequest {
	r.mdmProvider = &mdmProvider
	return r
}

// start datetime, can be epoch or relative time like -1d, -1w; -1d if not specified
func (r ApiSearchOrgNacClientsRequest) Start(start int32) ApiSearchOrgNacClientsRequest {
	r.start = &start
	return r
}

// end datetime, can be epoch or relative time like -1d, -2h; now if not specified
func (r ApiSearchOrgNacClientsRequest) End(end int32) ApiSearchOrgNacClientsRequest {
	r.end = &end
	return r
}

// duration like 7d, 2w
func (r ApiSearchOrgNacClientsRequest) Duration(duration string) ApiSearchOrgNacClientsRequest {
	r.duration = &duration
	return r
}

func (r ApiSearchOrgNacClientsRequest) Limit(limit int32) ApiSearchOrgNacClientsRequest {
	r.limit = &limit
	return r
}

func (r ApiSearchOrgNacClientsRequest) Page(page int32) ApiSearchOrgNacClientsRequest {
	r.page = &page
	return r
}

func (r ApiSearchOrgNacClientsRequest) Execute() (*ResponseClientNacSearch, *http.Response, error) {
	return r.ApiService.SearchOrgNacClientsExecute(r)
}

/*
SearchOrgNacClients searchOrgNacClients

Search Org NAC Clients

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId
 @return ApiSearchOrgNacClientsRequest
*/
func (a *OrgsClientsNACAPIService) SearchOrgNacClients(ctx context.Context, orgId string) ApiSearchOrgNacClientsRequest {
	return ApiSearchOrgNacClientsRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
//  @return ResponseClientNacSearch
func (a *OrgsClientsNACAPIService) SearchOrgNacClientsExecute(r ApiSearchOrgNacClientsRequest) (*ResponseClientNacSearch, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseClientNacSearch
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrgsClientsNACAPIService.SearchOrgNacClients")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/orgs/{org_id}/nac_clients/search"
	localVarPath = strings.Replace(localVarPath, "{"+"org_id"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.nacruleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nacrule_id", r.nacruleId, "")
	}
	if r.nacruleMatched != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nacrule_matched", r.nacruleMatched, "")
	}
	if r.authType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", r.authType, "")
	}
	if r.vlan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vlan", r.vlan, "")
	}
	if r.nasVendor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nas_vendor", r.nasVendor, "")
	}
	if r.idpId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "idp_id", r.idpId, "")
	}
	if r.ssid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ssid", r.ssid, "")
	}
	if r.username != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "username", r.username, "")
	}
	if r.timestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp", r.timestamp, "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site_id", r.siteId, "")
	}
	if r.ap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ap", r.ap, "")
	}
	if r.mac != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mac", r.mac, "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	if r.mdmCompliance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mdm_compliance", r.mdmCompliance, "")
	}
	if r.mdmProvider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mdm_provider", r.mdmProvider, "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "")
	}
	if r.duration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration", r.duration, "")
	} else {
		var defaultValue string = "1d"
		r.duration = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseHttp400
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseHttp401
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ResponseHttp403
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseHttp404
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ResponseHttp429
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
